[submodule "builds/parse-topfind"]
	path = builds/topfind
	url = https://github.com/hirenj/parse-topfind
[submodule "builds/glycodomain"]
	path = builds/glycodomain
	url = https://github.com/hirenj/lambda-glycodomain-domains.git
[submodule "builds/homology"]
	path = builds/homology@large
	url = https://github.com/hirenj/node-compara2homology
[submodule "node-uniprotsync"]
	path = builds/uniprot
	url = https://github.com/hirenj/node-uniprotsync
[submodule "builds/phosphosite"]
	path = builds/phosphosite
	url = https://github.com/hirenj/node-phosphositesync
[submodule "builds/gwas_catalog"]
	path = builds/gwascatalog
	url = https://github.com/hirenj/node-gwas_catalog-sync
